@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(92, 91, 91, 0.233);
}

.main-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: brown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

    
}




.post{
    background-color:aliceblue;
    width: calc(45vw);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: 15px;
   

}

.about-post{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 10px;

}

.pro-img img{
    height: 40px;
    width: 100%;
    margin-top: 5px;
}

.info{
    margin-left: 10px;
}

.info p{
    line-height: 1px;
}

.txt{
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;

}



.postImg img{
    width: 100%;
}

.name{
    font-weight: 500;
    font-size: 15px;
}

.time{
    font-size: 13px;
    padding-top: 4px;
    color: rgba(87, 86, 86, 0.603);
    font-weight: 500;
}



.icons{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.icons img{
    width: 4%;
    cursor: pointer;
}

.num{
    color: gray;
    padding-left: 5px;


}

.comment-sec{
    margin-left: auto;
    color: rgba(8, 8, 8, 0.548);
    padding-right: 20px;


}

.comment-sec span{
    padding-left: 5px;
    font-size: 15px;
    
}

.change-theme{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding-right: 10px;
    margin-top: 5px;


}



.change-theme img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.lit{
    background-color: rgba(92, 91, 91, 0.233);


}

.dark{
    background-color: rgba(0, 0, 0, 0.911) !important;
}

 .dark .main-head{
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 

@media screen and (max-width:900px) {
    .post{
        width: calc(60vw);
    }
    
}

@media screen and (max-width:600px) {
    .post{
        width: calc(90vw);
    }
    
    .main-head{
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .post{
        width: calc(100vw);
        padding-left: 0px !important;
        border-radius: 0px;
    }
    .post div{
        padding-left: 2px !important;
        padding-right: 2px;
    }

    .txt p{
        font-size: 12px;
    }
    
    
    .main-head{
        font-size: 10px;
        text-align: center;

    }

    
    .icons img{
        width: 6%;
        cursor: pointer;
    }

    .comment-sec span{
        padding-left: 5px;
        font-size: 12px;
        
    }
    

}